#*.pdf
*.ods
*.ods#

#*.txt
*.png

#test files:
test.c
dummy.c

# IDE
.vscode

#folders:
minishell_tester/
minilibx_resources/
unit_tests/
tests/
sprites/
cub_files/

# binaries
*.o
*.a
*.out
cub3d
dummy

# generated
tests/tests_output/*

# debug syms
.nfs*
